<div class="container form-group">

    <label for="">r</label>
    <input type="number" class="form-control" placeholder="Base del triangulo y radio" ng-model="vm.r">
    <label for="">h</label>
    <input type="number" class="form-control" placeholder="Hipotenusa del triangulo rectangulo" ng-model="vm.h">

    <button ng-click="vm.rectangulo()" type="button">Resultado</button>

    <p class="text-center">El resultado de cateto faltante: {{vm.c}}</p>
    <p class="text-center">El resultado de Area Triangular: {{vm.at}}</p>
    <p class="text-center">El resultado de Area Circular {{vm.ac}}</p>
    <p class="text-center">El resultado de la Raiz Cuadrada: {{vm.area2}}</p>
</div>