<!--div class="container"-->
<div class="form group">

    <label for="">A</label>
    <input type="number" class="form-control" placeholder="Primer valor" ng-model="vm.A">
    <label for="">B</label>
    <input type="number" class="form-control" placeholder="Segundo valor" ng-model="vm.B">
    <label for="">C</label>
    <input type="number" class="form-control" placeholder="Tercer valor" ng-model="vm.C">

    <button type="button" class="col-xs-4 col-xs-offset-4" ng-click="vm.calcular()">Resultado</button>
</div>
<!--/div-->
<p class="text-center">El valor mayor es: {{vm.maximo}}</p>
<p>letra {{vm.letra}}</p>