<div class="container form-group">

    <label for="">Numero 1</label>
    <input type="number" class="form-control" placeholder="Digite A" ng-model="vm.A">
    <label for="">Numero 2</label>
    <input type="number" class="form-control" placeholder="Digite B" ng-model="vm.B">
    <label for="">Numero 3</label>
    <input type="number" class="form-control" placeholder="Digite C" ng-model="vm.C">

    <button type="button" ng-click="vm.obtenerArea()">Resultado</button>

    <p class="text-center">El Area de la figura es: {{vm.area}}</p>
</div>