<div class="container" ng-submit="calcular()">

    <label for="">C1</label>
    <input type="number" placeholder="Calificacion #1" ng-model="vm.c1">

    <label for="">C2</label>
    <input type="number" placeholder="Calificacion #2" ng-model="vm.c2">

    <label for="">C3</label>
    <input type="number" placeholder="Calificacion #3" ng-model="vm.c3">

    <label for="">C4</label>
    <input type="number" placeholder="Calificacion #4" ng-model="vm.c4">

    <button type="submit">Resultado</button>

    <p>El resultado del promedio calculado es: {{vm.p}}</p>
</div>